# ── Retrieval pipeline ──────────────────────────────────────
QDRANT_CLOUD_CLUSTER_ENDPOINT=https://a0303a21-3a71-4b02-9a89-e87030c451ab.us-east4-0.gcp.cloud.qdrant.io
QDRANT_CLOUD_KEY=
HF_API_KEY=


# ── Eval-pipeline ───────────────────────────────────────────
OPENROUTER_API_KEY=

# ── HF space ────────────────────────────────────────────────
# for testing in local docker container: 
# MCP_SECRET_KEY=dev-local-secret-8738749*
# SERVER_URL="http://localhost:7860/mcp" # for local mcp server testing

# in hf space env variables are set without quotes, so no issues here
MCP_SECRET_KEY=
SERVER_URL="https://rushank-langchain-rag-mcp-server.hf.space/mcp/"

HF_TOKEN_WRITE=


# ── Langgraph workflow ───────────────────────────────────────
GROQ_API_KEY=
GEMINI_API_KEY=

# ── LangSmith integration ────────────────────────────────────
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LangGraph-RAG-Agent
LANGSMITH_TRACING=flase



ENV="development"