# ── Retrieval pipeline ──────────────────────────────────────
QDRANT_CLOUD_CLUSTER_ENDPOINT=
QDRANT_CLOUD_KEY=
HF_API_KEY=


# ── Eval-pipeline ───────────────────────────────────────────
GEMINI_API_KEY=


# ── HF space ────────────────────────────────────────────────
# for testing in local docker container: 
# MCP_SECRET_KEY=
# SERVER_URL="http://localhost:7860/mcp" # for local mcp server testing

# in hf space env variables are set without quotes, so no issues here
MCP_SECRET_KEY=
SERVER_URL="https://username-spacename.hf.space/mcp/"

HF_TOKEN_WRITE=


# ── Langgraph workflow ───────────────────────────────────────
GROQ_API_KEY=


ENV=