# ── Retrieval pipeline ──────────────────────────────────────
QDRANT_CLOUD_KEY = ""
HF_API_KEY = ""


# ── Eval-pipeline ───────────────────────────────────────────
GEMINI_API_KEY = ""
QDRANT_CLOUD_CLUSTER_ENDPOINT = ""


# ── HF space ────────────────────────────────────────────────
MCP_SECRET_KEY = 
SERVER_URL = ""




ENV = "development"