GEMINI_API_KEY=
MCP_SECRET_KEY=
SERVER_URL=
GROQ_API_KEY=

## To be set in langgraph-rag-agent hf-space, there LANGSMITH_TRACING=true
LANGSMITH_TRACING=false
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=LangGraph-RAG-Assistant
# LANGSMITH_ENDPOINT=https://api.smith.langchain.com